.videos {
    padding: 40px 20px;
    text-align: center;
    background-color: #faf5ff;
}

.video-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}
